@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327
}
body
{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background-color: var(--clr);
}
.navegacao
{
    width: 400px;
    height: 70px;
    background-color: #fff;
    position: relative;    
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
.navegacao ul
{
    display: flex;
    width: 300px;
}
.navegacao ul li
{
    position: relative;
    list-style: none;
    width: 100px;
    height: 60px;
    z-index: 1;
}
.navegacao ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navegacao ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navegacao ul li.active a .icon
{
    transform: translateY(-35px);
}
.navegacao ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navegacao ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    width: 75px;
    height: 75px;
    top: -50%;
    background: #1071AD;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 46%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 0px -12px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 46%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -1px -12px 0 0 var(--clr);
}
.navegacao ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(75px * 0));
}
.navegacao ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(75px * 1));
}
.navegacao ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(75px * 2));
}
.navegacao ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(75px * 3));
}
